
@model IEnumerable<CRMPresentation.Models.Menu>
<div class="navigation">
    @foreach (var m in Model)
    {
        if (m.MenuParentID == 0)
        {
            var submenu = Model.Where(n => n.MenuParentID == m.MID).ToList();

            if (submenu != null && submenu.Count > 0)
            {
                <div class="dropdown">
                    <button class="dropbtn">
                        @m.MenuName
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        @foreach (var e in submenu)
                        {
                            <a href="@e.MenuURL">@e.MenuName </a>
                        }
                    </div>
                </div>
            }
            else
            {
                //if parent menu does not have child menu
                <a href="@m.MenuURL"><span style="font-size: 15px; color: #ffffff">@m.MenuName</span></a>
            }
        }
    }
</div>

@*<ul class="sidebar-menu" data-widget="tree">
    <li class="active"> <a href=""><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Customer</span>
            <span class="pull-right-container">
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Customer/NewCustomer"><i class="fa fa-circle-o"></i>New Customer</a></li>
            <li><a href="/Customer/ViewCustomer"><i class="fa fa-circle-o"></i> View Customer</a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Company</span>
            <span class="pull-right-container">
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Company/NewCompany"><i class="fa fa-circle-o"></i>New Company</a></li>
            <li><a href="/Company/ViewCompany"><i class="fa fa-circle-o"></i> View Company</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-laptop"></i>
            <span>Industry</span>
            <span class="pull-right-container">
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/MasterSettings/NewIndustryCategory"><i class="fa fa-circle-o"></i> New Industry</a></li>
            <li><a href="/MasterSettings/ViewIndustryCategory"><i class="fa fa-circle-o"></i> View Industry</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-edit"></i> <span>Lead Source</span>
            <span class="pull-right-container">
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/MasterSettings/NewLeadSource"><i class="fa fa-circle-o"></i> New Lead Source</a></li>
            <li><a href="/MasterSettings/ViewLeadSource"><i class="fa fa-circle-o"></i> View Lead Source</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-table"></i> <span>Quotes</span>
            <span class="pull-right-container">
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Quote/GQuote"><i class="fa fa-circle-o"></i> New Quotes</a></li>
            <li><a href="/Quote/ViewQuote"><i class="fa fa-circle-o"></i> View Quotes</a></li>
        </ul>
    </li>



    <li class="treeview">
        <a href="#">
            <i class="fa fa-folder"></i> <span>Product</span>
            <span class="pull-right-container">
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Product/NewProduct"><i class="fa fa-circle-o"></i> New Product</a></li>
            <li><a href="/Product/ViewProduct"><i class="fa fa-circle-o"></i> View Product</a></li>
        </ul>
    </li>


    <li class="treeview">
        <a href="#">
            <i class="fa fa-table"></i> <span>Masters Settings</span>
            <span class="pull-right-container">
            </span>
        </a>
        <ul class="treeview-menu">

            <li><a href="/MasterSettings/ViewLeadSource"><i class="fa fa-circle-o"></i> Lead Source</a></li>
            <li><a href="/MasterSettings/ViewindustryCategory"><i class="fa fa-circle-o"></i>Industry Category</a></li>
            <li><a href="/Company/ViewCompany"><i class="fa fa-circle-o"></i>Company Details</a></li>

        </ul>
    </li>

</ul>*@


<style>
    .navigation {
        overflow: hidden;
        background-color: #333;
        font-family: Arial;
    }

        .navigation a {
            float: left;
            font-size: 16px;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

    .dropdown {
        float: left;
        overflow: hidden;
    }

        .dropdown .dropbtn {
            font-size: 16px;
            border: none;
            outline: none;
            color: white;
            padding: 14px 16px;
            background-color: inherit;
        }

        .navigation a:hover, .dropdown:hover .dropbtn {
            background-color: red;
        }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

            .dropdown-content a:hover {
                background-color: #ddd;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }
</style>