@model CRM.BusinessLayer.BusinessModels.CustomerDetails

@{
    ViewBag.Title = "CustomerDetails";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div>
    <section class="content-header">
        <h1></h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">@Html.ActionLink("View Customer", "ViewCustomer")</li>
        </ol>
    </section>
</div>
<br />
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Customer Details</h3>
                    @*@Html.ActionLink("Create New", "NewCustomer", "Customer", null, new { @class = "btn btn-primary pull-right" })*@
                </div>
                <div class="box-body">
                    <div class="col-md-12">
                        <!-- Nav tabs --><div class="card">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#Basic" aria-controls="home" role="tab" data-toggle="tab">Basic</a></li>
                                <li role="presentation"><a href="#Address" aria-controls="profile" role="tab" data-toggle="tab">Address</a></li>
                                <li role="presentation"><a href="#Invoice" aria-controls="messages" role="tab" data-toggle="tab">Documents</a></li>
                                <li role="presentation"><a href="#Payments" aria-controls="settings" role="tab" data-toggle="tab">Payments</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="Basic"><br />
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div><strong>Customer Name</strong></div>
                                            <div class="text-green font"><strong>@Model.CustomerName</strong></div>
                                        </div>
                                        <div class="form-group">
                                            <div><strong>Primary Phone</strong></div>
                                            <div class="text-green font"><strong>@Model.PrimaryPhoneNo</strong></div>
                                        </div>
                                        <div class="form-group">
                                            <div><strong>Primary Email ID</strong></div>
                                            <div class="text-green font"><strong>@Model.PrimaryMailID</strong></div>
                                        </div>
                                        <div class="form-group">
                                            <div><strong>Website</strong></div>
                                            <div class="text-green font"><strong>@Model.Website</strong></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div><strong>Contact Person Name</strong></div>
                                            <div class="text-green font"><strong>@Model.ContactPersonName</strong></div>
                                        </div>
                                        <div class="form-group">
                                            <div><strong>Contact Person No</strong></div>
                                            <div class="text-green font"><strong>@Model.ContactPersonNo</strong></div>
                                        </div>
                                        <div class="form-group">
                                            <div><strong>Fax</strong></div>
                                            <div class="text-green font"><strong>@Model.Fax</strong></div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="Address"><br />
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <div><strong>Billing Address</strong></div>
                                                <div class="text-purple font"><strong>@Model.BillingAddress</strong></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group">
                                                <div><strong>Billing Address1</strong></div>
                                                <div class="text-purple font"><strong>@Model.BillingAddress1</strong></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group">
                                                <div><strong>Billing City</strong></div>
                                                <div class="text-purple font"><strong>@Model.BillingCity</strong></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group">
                                                <div><strong>Billing State</strong></div>
                                                <div class="text-purple font"><strong>@Model.BillingState</strong></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group">
                                                <div><strong>Billing Country</strong></div>
                                                <div class="text-purple font"><strong>@Model.BillingCountry</strong></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group">
                                                <div><strong>Billing Pincode</strong></div>
                                                <div class="text-purple font"><strong>@Model.BillingPincode</strong></div>
                                            </div>
                                        </div>
                                        </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <div><strong>Shipping Address</strong></div>
                                                <div class="text-blue font"><strong>@Model.ShippingAddress</strong></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group">
                                                <div><strong>Shipping Address Line1</strong></div>
                                                <div class="text-blue font"><strong>@Model.ShippingAddress1</strong></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group">
                                                <div><strong>Shipping City</strong></div>
                                                <div class="text-blue font"><strong>@Model.ShippingCity</strong></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group">
                                                <div><strong>Shipping State</strong></div>
                                                <div class="text-blue font"><strong>@Model.ShippingState</strong></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group">
                                                <div><strong>Shipping Country</strong></div>
                                                <div class="text-blue font"><strong>@Model.ShippingCountry</strong></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group">
                                                <div><strong>Shipping Pincode</strong></div>
                                                <div class="text-blue font"><strong>@Model.ShippingPincode</strong></div>
                                            </div>
                                        </div>

                                        </div>
                                    </div>
                                <div role="tabpanel" class="tab-pane" id="Invoice"><br />
                                    @using (Html.BeginForm("CustomerFileUpload", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        @Html.HiddenFor(model => model.CustomerID)
                                        <input type="hidden" name="customerID" value=@ViewBag.custID />
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Customer KYC Documents</h3>
                                            <input type="submit" value="Upload" class="btn btn-primary pull-right" />
                                        </div>
                                        <br />
                                        <input type="file" name="file" id="file" /><br><br>
                                        <br><br>
                                        @ViewBag.Message
                                        <div>
                                            @{Html.RenderAction("GetKYCDocuments", "Customer");}
                                        </div>
                                      
                                            }
</div>
                                <div role="tabpanel" class="tab-pane" id="Payments"><br />
                                    <h3>No Payments</h3>
                                
                                </div>
                            </div>
                        </div>
                    </div>

                  
                  

                </div>
                </div>
            </div>



        </div>
    <div class="modal fade test" id="modal-default-1">
        <div class="modal-dialog">
            <div class="modal-content" style="width:950px;margin-left:-90px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">View Document</h4>
                </div>
                <div class="popmodal-body">
                    @*<iframe name="someFrame" id="someFrame" width="900" src="http://docs.google.com/gview?url=http://infolab.stanford.edu/pub/papers/google.pdf&embedded=true"></iframe>*@
                    <iframe id="someFrame" style="width:600px; height:500px;" frameborder="0" ></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>

        </div>

    </div>
</section>
   <style type="text/css">

       /*.nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #666; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}

.card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; }
body{ background: #EDECEC; padding:50px}*/
   </style>
<script type="text/javascript">
    $(document).ready(function () {
       
    });
    function loadDoc(docURL)
    {
        
        $("#someFrame").attr("src", "http://docs.google.com/gview?url=http://localhost:50480/compDoc/sample_PDF.pdf&embedded=true");
        $("#modal-default-1").modal('show')
        $(".overlay").hide();
    }
</script>