@model CRM.BusinessLayer.BusinessModels.CustomerDetails

@{
    ViewBag.Title = "Edit Customer";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <section class="content-header">
        <h1></h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">@Html.ActionLink("View Customer", "ViewCustomer")</li>
        </ol>
    </section>
    <br />
    <section class="content">
        <div class="row">

            <div class="col-md-12">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">General Information</h3>
                        <input type="submit" value="Update" class="btn btn-success pull-right" />
                    </div>
                        <div class="box-body">
                            @*<div class="overlay">
                                <i class="fa fa-refresh fa-spin"></i>
                            </div>*@
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="company">Customer Name:</label>
                                    @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="form-group">
                                    <label for="PrimaryMail">Primary Mail:</label>
                                    @Html.EditorFor(model => model.PrimaryMailID, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="form-group">
                                    <label for="PrimaryPhone">Primary Phone:</label>
                                    @Html.EditorFor(model => model.PrimaryPhoneNo, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="form-group">
                                    <label for="AnnualRevenue">Contact Person Name</label>
                                    @Html.EditorFor(model => model.ContactPersonName, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="form-group">
                                    <label for="GSTNO">GST No:</label>
                                    @Html.EditorFor(model => model.GSTNO, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="col-md-5">

                                <div class="form-group">
                                    <label for="Fax">Fax:</label>
                                    @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="form-group">
                                    <label for="Website">Company Website:</label>
                                    @Html.EditorFor(model => model.Website, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @if (Model.IndustryCategoryId>0)
                                {
                                <div class="form-group">
                                    <label for="Industry">Industry Category:</label>
                                    @Html.DropDownListFor(m => m.IndustryCategoryId, new SelectList(Model.IndustryCategoryList, "IndustryCategoryId", "IndustryCategoryName"), "Select Industry", new { @class = "form-control" })
                                </div>
                                }
                                <div class="form-group">
                                    <label for="ContactPersonNo">Contact Person No</label>
                                    @Html.EditorFor(model => model.ContactPersonNo, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>
                </div>

            </div>

            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Address Information</h3>
                    </div>
                        <div class="box-body">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="BillingAddress">Billing Address:</label>
                                    @Html.EditorFor(model => model.BillingAddress, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="form-group">
                                    <label for="BillingAddress1">Billing Address 1:</label>
                                    @Html.EditorFor(model => model.BillingAddress1, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="form-group">
                                    <label for="BillingCity">Billing City:</label>
                                    @Html.EditorFor(model => model.BillingCity, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="form-group">
                                    <label for="BillingState">Billing State:</label>
                                    @Html.EditorFor(model => model.BillingState, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="form-group">
                                    <label for="BillingCountry">Billing Country:</label>
                                    @Html.EditorFor(model => model.BillingCountry, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="form-group">
                                    <label for="BillingPincode">Billing Pincode:</label>
                                    @Html.EditorFor(model => model.BillingPincode, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="ShippingAddress">Shipping gAddress:</label>
                                    @Html.EditorFor(model => model.ShippingAddress, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="form-group">
                                    <label for="ShippingAddress1">Shipping Address1:</label>
                                    @Html.EditorFor(model => model.ShippingAddress1, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="form-group">
                                    <label for="ShippingCity">Shipping City:</label>
                                    @Html.EditorFor(model => model.ShippingCity, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="form-group">
                                    <label for="ShippingState">Shipping State:</label>
                                    @Html.EditorFor(model => model.ShippingState, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="form-group">
                                    <label for="ShippingCountry">Shipping Country:</label>
                                    @Html.EditorFor(model => model.ShippingCountry, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="form-group">
                                    <label for="ShippingPincode">Shipping Pincode:</label>
                                    @Html.EditorFor(model => model.ShippingPincode, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>

                </div>
            </div>




        </div>
    </section>
  
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
